{% extends "gestion/base.html" %}

{% block title %}Ajouter un Membre{% endblock %}
{% block header %}Inscription d'un nouveau Producteur{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">{{ form.first_name.label_tag }} {{ form.first_name }}</div>
                        <div class="col-md-6 mb-3">{{ form.last_name.label_tag }} {{ form.last_name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">{{ form.username.label_tag }} {{ form.username }}</div>
                        <div class="col-md-6 mb-3">{{ form.password.label_tag }} {{ form.password }}</div>
                    </div>
                    <hr>
                    <div class="mb-3">{{ form.email.label_tag }} {{ form.email }}</div>
                    
                    <div class="mb-3">{{ form.telephone.label_tag }} {{ form.telephone }}</div>
                    <div class="mb-3">{{ form.zone.label_tag }} {{ form.zone }}</div>
                    <div class="mb-3">{{ form.parcelles_info.label_tag }} {{ form.parcelles_info }}</div>
                    
                    <button type="submit" class="btn btn-success w-100 mt-3">Enregistrer le producteur</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}